<!DOCTYPE html> 
<html>

    <head>
    
        <link rel= "stylesheet" href="/css/topnavstyle.css"> <!--Calls .css file with settings for navigation bar-->
        
    </head>

    <title>Search ACRA</title>
   <h1>Search Results</h1>

   <!--Navigation bar menu options-->
   <div class="topnav">
       <a href="/users/dashboard">Home</a>
       <a href="/users/logout" class="topnav">Logout</a>
   </div>

<br></br>

<body>

    <!--For page contents to appear in a box-->
    <div style="background: ghostwhite;  
    font-size: 15px; 
    padding: 10px; 
    border: 1px solid lightgray; 
    margin: 5px;">

    <form id= "content" action="/users/request_edit" method="POST">
    <div id=print>
<div class="form-group">
          <label for="CaseID"><b>Case ID:</b></label>
          <input
            type="number"
            id="CaseID"
            name="CaseID"
            class="form-control"
            value= "<%= data.CaseID %>" 
            style="width: 300px; border-style: none; border-color: Transparent; overflow: auto; background-color: rgba(0, 0, 0, 0)"
            readonly/>
        </div>

<div class="form-group">
          <label for="DoH"><b>Date of Hearing:</b></label>
          <input
            type="date"
            id="DoH"
            name="DoH"
            class="form-control"
            value= "<%= data.DoH %>" 
            style="width: 300px; border-style: none; border-color: Transparent; overflow: auto; background-color: rgba(0, 0, 0, 0)"
            readonly/>
        </div>

    <div class="form-group">
          <label for="DoNH"><b>Date of Next Hearing:</b></label>
          <input
            type="date"
            id="DoNH"
            name="DoNH"
            class="form-control"
            value= "<%= data.DoNH %>" 
            style="width: 300px; border-style: none; border-color: Transparent; overflow: auto; background-color: rgba(0, 0, 0, 0)"
            readonly/>
        </div>

<div class="form-group">
          <label for="PersonsPresent"><b>Persons Present:</b></label>
          <textarea
            type="text"
            id="PersonsPresent"
            name="PersonsPresent"
            class="form-control"
            style="border-style: none; border-color: Transparent; overflow: auto; background-color: Transparent"
            readonly><%= data.PersonsPresent %></textarea>
        </div>

<div class="form-group">
          <label for="StartoH"><b>Start of Hearing:</b></label>
          <input
            type="time"
            id="StartoH"
            name="StartoH"
            class="form-control"
            value="<%= data.StartoH %>"
            style="width: 300px; border-style: none; border-color: Transparent; overflow: auto; background-color: rgba(0, 0, 0, 0)"
            readonly/>
        </div>

<div class="form-group">
          <label for="EndoH"><b>End of Hearing:</b></label>
          <input
            type="time"
            id="EndoH"
            name="EndoH"
            class="form-control"
            value="<%= data.EndoH %>"
            style="width: 300px; border-style: none; border-color: Transparent; overflow: auto; background-color: rgba(0, 0, 0, 0)"
            readonly/>
        </div>

<div class="form-group">
          <label for="Directions"><b>Directions By The Court:</b></label>
          <textarea
            id="Directions"
            name="Directions"
            rows="5"
            cols="25"
            class="form-control"
            style="border-style: none; border-color: Transparent; overflow: auto; background-color: rgba(0, 0, 0, 0)"
            readonly><%=data.Directions%></textarea>
        </div>
</div>

<button type="submit">Edit</button>

<button type="submit" formaction="/users/delete">Delete</button>

</form>

<button id="download">Download</button>
        <div class="card" id="invoice">

    <div>
  
        <script src="pdf.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
       
    </div>
    
    <script>
    
    window.onload = function () {
                    document.getElementById("download")
                        .addEventListener("click", () => {
                            const invoice = this.document.getElementById("print");
                            console.log(invoice);
                            console.log(window);
                            var opt = {
                                margin: 1,
                                filename: 'CaseID<%= data.CaseID %>_Report.pdf',
                                image: { type: 'jpeg', quality: 0.98 },
                                html2canvas: { scale: 2 },
                                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                            };
                            html2pdf().from(invoice).set(opt).save();
                        })
                  }
    
    </script>

</body>
    </html>
